/* Estilos para o corpo da página */
body {
  background-image: url("");/* clênio*/
  background-position: center;
  background-size: cover;
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; /* Azul claro */
  margin: 0;  
  padding: 0;
}

/* Estilos para o cabeçalho */
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

/* Estilos para o seletor de categoria */
#categoria {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
}

/* Estilos para a lista de filmes */
#lista-filmes {
  text-align: center;/*clênio*/
  list-style: none;
  padding: 0;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

#lista-filmes li {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para os títulos dos filmes */
#lista-filmes h2 {
  font-family: 'Nunito', sans-serif; /* Defina 'Nunito' como a fonte e, em seguida, uma alternativa de fonte genérica, caso a fonte não esteja disponível. */
  font-size: 17px;
  margin: 0 0 10px;
  color: #333;
}

/* Estilos para as imagens dos filmes */
.filme-image {
  max-width: 100%; /* Define a largura máxima para 100% da largura do contêiner pai */
  max-height: 320px; /* Define a altura máxima desejada em pixels */
  height: auto; /* Altura ajustada automaticamente para manter a proporção */
  
}

/* Estilos para os detalhes dos filmes (ano, gênero, descrição) */
#lista-filmes p {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 15px;
  color: #666;
  text-align: left; /* Alinhar o texto à esquerda */
}

/* Estilo do botão de categoria */
#categoria {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
}



.player-icon {
  max-width: 50px;
  max-height: 50px;
  margin: 10px 0; /* Espaço acima e abaixo dos ícones */
}
.assistir-link {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  text-align: center;
}



.pesquisa-container {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #fff;
}

#pesquisa {
  padding: 5px;
  border: none;
  border-bottom: 2px solid #ffffff;
}

#pesquisa-icon {
  width: 20px; /* Ajuste o tamanho desejado */
  height: 20px; /* Ajuste o tamanho desejado */
  cursor: pointer;
}

#lista-filmes li:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease; /* Adiciona uma transição suave */
}









/* Estilos para a div de login */
.login-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 2;
}


/* Estilos para o formulário dentro da div de login */
#login-form {
  display: flex;
  flex-direction: column;
}

/* Estilos para os campos de entrada no formulário */
#login-form label {
  margin-bottom: 5px;
}

#login-form input {
  padding: 5px;
  margin-bottom: 10px;
}

/* Estilos para o botão de entrar */
#login-form button {
  padding: 8px;
  background-color: #333; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none;
  cursor: pointer;
}

#login-form button:hover {
  background-color: #555; /* Cor de fundo do botão ao passar o mouse */
}






/* Seus estilos existentes */

/* ... Outros estilos ... */

.user-icon {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1;
}

.login-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 2;
}

/* Adicione este estilo para mostrar a div de login quando a classe 'mostrar-login' estiver presente */
.login-container.mostrar-login {
  display: block;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* ... Outros estilos ... */





.cadastro-form {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 2;
}


/* Estilos para o formulário dentro da div de login */
#cadastro-form {
  display: flex;
  flex-direction: column;
}

/* Estilos para os campos de entrada no formulário */
#cadastro-form label {
  margin-bottom: 5px;
}

#cadastro-form input {
  padding: 5px;
  margin-bottom: 10px;
}

/* Estilos para o botão de entrar */
#cadastro-form button {
  padding: 8px;
  background-color: #333; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto do botão */
  border: none;
  cursor: pointer;
}

#cadastro-form button:hover {
  background-color: #555; /* Cor de fundo do botão ao passar o mouse */
}


#logout-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px; /* ou qualquer outra largura desejada */
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}